.container {
  max-width: 760px;
}
.navbar .container {
  position: relative;
}

#index {
  padding-top: 0;
}

#list {
  padding: 0 30px 15px;
}

.item:last-child {
  border-bottom: 1px solid #eee;
}
.item {
  border-top: 1px solid #eee;
  padding: 10px 0;
}
.item p {
  margin: 0;
}

/* Social buttons */
iframe {
  vertical-align: bottom;
}

.img-center {
  margin: 0 auto;
}

.avatar {
  width: 20px;
}

.auth-form {
  position: absolute;
  top: 0;
  right: -17px;
}

form .auth-toggle {
  display: inline-block;
  margin: 0 -1em 0 1em;
  width: 0;
}

.auth-toggle {
  color: #777;
}
.auth-toggle:hover, .auth-toggle:focus {
  color: #333;
  text-decoration: none;
}
